
.hdrbg{
  background-image: url("resources\images\the-flatiron-building.png");
  height: 600px
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.fnav{
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
  color: white;
}
.footer_nav{
font-size: 18px;
color: white
}
body{
  text-align: center;
  font-family: helvetica;
}
